
/* 

:root {
    --rosa-pastel: #FFD1DC;
    --morado-pastel: #D8BFD8;
    --amarillo-pastel: #FFEAA7;
    --gris-pastel: #F5F5F5;
    --blanco: #FFFFFF;
    --texto-oscuro: #4A4A4A;
}
    */
.product-card {
    border: none;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.product-image-container {
    height: 250px;
    background: linear-gradient(to bottom, #F5F5F5, #FFFFFF);
}

.product-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.product-card:hover .product-image {
    transform: scale(1.05);
}


.badge-sale {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #FFEAA7;
    color: #4A4A4A;
    padding: 0.35rem 0.75rem;
    border-radius: 50rem;
    font-weight: 600;
    font-size: 0.8rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.price {
    font-weight: 800;
    color: #4A4A4A;
    font-size: 1rem;
}

.btn.boton-app {
    background-color: #FFD1DC;
    border-color: #FFD1DC;
    color: #4A4A4A;
    font-weight: 600;
    border-radius: 50rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn.boton-app:hover {
    background-color: #ffb6c1;
    border-color: #ffb6c1;
    transform: scale(1.05);
}