.navbar {
    background: linear-gradient(90deg, #FFB6C1, #E3CFF8);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    transform: rotate(-2deg);
    transition: transform 0.3s ease;
    color: #1b1a1a !important;
}

.navbar-brand:hover {
    color: #FFD166 !important;
    transform: rotate(0deg);
}

.nav-link {
    color: #1b1a1a !important;
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #FFD166 !important;
}


.dropdown-menu {
    background-color: #E3CFF8;
    border: none;
}

.dropdown-item:hover {
    background-color: #FFD166;
    color: #333 !important;
}